<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Consultas</title>
</head>
<body>
    <form>
        <center>
        <h2 class="mb-3">Nueva consulta</h2>
        <div class="form-row">
          <div class="form-group col-md-5  ">
            <label for="titleInput">Título</label>
            <input type="text" class="form-control" id="titleInput" placeholder="Ingrese el título">
          </div>
          <div class="form-group col-md-5">
            <label for="areaSelect">Área</label>
            <select id="areaSelect" class="form-control">
              <option value="option1">Option 1</option>
              <option value="option2">Option 2</option>
              <option value="option3">Option 3</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="descriptionInput">Descripción</label>
          <textarea class="form-control" id="descriptionInput" rows="3" style="width: 300px;"></textarea>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Generar</button>
    </center>
      </form>
</body>

</html>