<%- include('./layout/navBars') -%>
<div class="bg-light border rounded-3 ">
  <div class="container mt-5">
    <h1 class="text-center">Generar Ticket</h1>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-8">
        <form method="POST" action="/crear_ticket">
          <div class="form-group">
            <label for="Usuario">Usuario:</label>
            <%- include('./layout/read') -%>
          </div>
          <div class="form-group">
            <label for="Correo">Correo:</label>
            <input type="email" class="form-control" id="Correo" name="Correo" placeholder="Ej: Alda@gmail.com" required>
          </div>
          <div class="form-group">
            <label for="tipo_servicio">Tipo Servicio:</label>
            <select class="form-select" name="tipo_servicio" id="tipo_servicio" required>
                <option selected>-- Seleccione un tema de Ayuda --</option>
                <option value="Formateo de PC/Laptop">Formateo de PC/Laptop</option>
                <option value="Mantenimiento preventivo">Mantenimiento preventivo</option>
                <option value="Respaldo de información">Respaldo de información</option>
                <option value="Configuracion de impresora">Configuracion de impresora</option>
                <option value="Diagnostico a equipos">Diagnostico a equipos</option>
                <option value="Restricciones de internet">Restricciones de internet</option>
                <option value="Configuracion de PC/Laptop">Configuracion de PC/Laptop</option>
                <option value="Configuracion de Aplicaciones">Configuracion de Aplicaciones</option>
                <option value="Otros Servicios">Otros Servicios</option>
              </select>
          </div>
          <div class="form-group">
            <label for="Descripcion">Descripción</label>
          <textarea class="form-control"  name="Descripcion" id="Descripcion" rows="3" style="width: 415px;"></textarea>
          </div>
          <br>
          <button type="submit" class="btn btn-info btn-block">Generar Ticket</button>
        </form><br>
      </div><br>
    </div>
  </div>
</div>

<%- include('./layout/pie')-%>
