

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="./css/style.css">
<title></title>
</head>
<body class="">

<div class="d-flex"> <!-- New div to wrap nav and container-fluid -->
  <nav class="navbar navbar-expand-lg bg-primary text-light">
    <!-- Nav content -->
    <div class="container-fluid  ">
        <a class="navbar-brand text-light ms-2" href="#"><img src="./assets/logoSystem.png"  width="80" alt="" srcset=""></a>
        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-light" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-1 mb-lg-0 ">
            <li class="nav-item text-light mt-2 ps-2">
              <i class="fa-solid fa-circle-user fa-2xl "></i>
            </li>
            <li class="nav-item ps-2 mt-1">
              <h4 class="text-light">username</h4>
            </li>
             
          </ul>
          <ul class="navbar-nav mb-2 me-2 d-flex">
              <li class="nav-item ">
                  <a class="nav-link active text-light" aria-current="page" href="#"><i class="fa-solid fa-right-from-bracket fa-2xl"></i></a>
                </li>
          </ul>
      
        </div>
      </div>
  </nav>

  <div class="container-fluid pb-3 flex-grow-1 d-flex flex-column flex-sm-row overflow-auto mt-3">
    <aside class="col-sm-3 flex-grow-sm-1 flex-shrink-1 flex-grow-0 sticky-top pb-sm-0 pb-3">
      <!-- Sidebar content -->
      <div class="bg-dark border rounded-3 p-1 h-100 sticky-top">
        <ul class="nav nav-pills flex-sm-column flex-row mb-auto justify-content-between text-light">
            <li class="nav-item  mt-4">
                <a href="#" class="nav-link px-2 text-light">
                    <i class="fa-solid fa-chart-line fa-2xl"></i>
                   <h6 class="d-none d-sm-inline ms-2"> Estadisticas</h6>
                </a>
            </li>
            <li class="nav-item mt-4">
                <a href="#" class="nav-link px-2 text-light">
                    <img class="fs-5 pb-1" src="./assets/icons/newticket.png"  width="30" alt="" srcset="">
                    <h6 class="d-none d-sm-inline ms-2">Nuevo Ticket</h6>
                </a>
            </li>
            <li class="nav-item mt-4">
                <a href="#" class="nav-link px-1 text-light">
                    <img class="fs-5 pb-1" src="./assets/icons/ticket.png"  width="35" alt="" srcset="">
                    <h6 class="d-none d-sm-inline ms-2">Consultar Tickets</h6>
                </a>
            </li>
            <li class="nav-item  mt-4">
                <a href="#" class="nav-link px-2 text-light"><i class="fa-solid fa-users fa-xl"></i>
                    <h6 class="d-none d-sm-inline ms-2">Usuarios</h6>
                </a>
            </li>
            <li class="nav-item  mt-4">
              <a href="#" class="nav-link px-2 text-light"><i class="fa-solid fa-clock-rotate-left fa-xl"></i>
                  <h6 class="d-none d-sm-inline ms-2">Registro de Actividades</h6>
              </a>
          </li>
        </ul>
    </div>
    </aside>

    <main class="col overflow-auto h-80 ms-auto me-auto"> <!-- Adjusted classes -->
      <!-- Form content -->
      <div class="bg-light border rounded-3  ms-5">
        <h1 class="text-center ">Iniciar sesión</h1>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <form method="POST" action="/registro">
            <div class="form-group">
              <label for="Nombre">Nombre:</label>
              <input type="text" class="form-control" id="Nombre" name="Nombre" required>
            </div>
            <div class="form-group">
              <label for="Apellido">Apellido:</label>
              <input type="text" class="form-control" id="Apellido" name="Apellido" placeholder="Ej: Ramos de la riva" required>
            </div>
            <div class="form-group">
              <label for="Correo">Correo:</label>
              <input type="email" class="form-control" id="Correo" name="Correo" placeholder="Ej: Alda@gmail.com" required>
            </div>
            <div class="form-group">
              <label for="Telefono">Telefono:</label>
              <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Ej: 4651112345" required>
            </div>
            <div class="form-group">
              <label for="tipo_usuario">Tipo de usuario:</label>
              <select class="form-select" name="tipo_usuario" id="tipo_usuario" required>
                  <option selected>-- Seleccione una de las opciones --</option>
                  <option value="Admin">Admin</option>
                  <option value="User">Usuario</option>
                </select>
            </div>
            <div class="form-group">
              <label for="usuario">Usuario:</label>
              <input type="text" class="form-control" id="user" name="user" title="No mayor a 20 caracteres" required>
            </div>
            <div class="form-group">
              <label for="pass">Contraseña:</label>
              <input type="password" class="form-control" id="pass" name="pass" title="No mayor a 12 caracteres" required>
            </div><br>
            <button type="submit" class="btn btn-info btn-block">Iniciar sesión</button>
          </form><br>
        </div><br>
      </div>   
       </div>
    </main>
  </div>
</div>

<!-- Footer content and scripts -->
<script src="./js/boostrap.min.js"></script>
<script src="https://kit.fontawesome.com/46bd9c6211.js" crossorigin="anonymous"></script>

</body>
</html>