
        <!DOCTYPE html>
        <html lang="en">
        <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="../assets/icons/ticket.png" />
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
        <title><%= title%></title>
        </head>
        <body class="">
          <nav class="navbar navbar-expand-lg bg-primary text-light">
            <!-- Nav content -->
            <div class="container-fluid  ">
                <a class="navbar-brand text-light ms-2" href="#"><img src="../assets/logoSystem.png"  width="80" alt="" srcset=""></a>
                  
                <a class="navbar-brand navbar-nav nav-item text-light ps-lg-1 ps-5 ms-lg-1 ms-4 mb-1 mb-lg-0" href="#"><i class="fa-solid fa-circle-user fa-xl ms-2 ps-3 mt-2 mt-lg-3"></i> <h4 class="text-ligh ms-4 mt-sm-2 mt-lg-1 mt-3"> <%= name%></h4></a>
               
               
                  <ul class="navbar-nav me-auto mb-1 mb-lg-0 ">
                    <li class=" navbar-nav navbar-collapse  text-light mt-2 ps-2">
                    
               
                    </li>
                     
                  </ul>
                  <ul class="navbar-nav mb-2 me-2 d-flex">
                      <li class="nav-item ">
                          <a class="nav-link active text-light" aria-current="page" href="/logout"><i class="fa-solid fa-right-from-bracket fa-2xl"></i></a>
                        </li>
                  </ul>
              
                </div>
              </div>
          </nav>
        <div class="d-flex"> <!-- New div to wrap nav and container-fluid -->
       
        
          <div class="container-fluid pb-3 flex-grow-1 d-flex flex-column flex-sm-row overflow-auto mt-3 ">
            <aside class="col-sm-3 flex-grow-sm-1 flex-shrink-1 flex-grow-0 sticky-top pb-sm-0 pb-3 me-1">
              <!-- Sidebar content -->
              <div class="bg-dark border rounded-3 p-1 h-100 sticky-top">
                <ul class="nav nav-pills flex-sm-column flex-row mb-auto justify-content-between text-light">
                 
                    <li class="nav-item mt-4">
                        <a href="/crear_ticket" class="nav-link px-2 text-light">
                            <img class="fs-5 pb-1" src="../assets/icons/newticket.png"  width="30" alt="" srcset="">
                            <h6 class="d-none d-sm-inline ms-2">Nuevo Ticket</h6>
                        </a>
                    </li>
                    <li class="nav-item mt-4">
                        <a href="/Listar_TECticket" class="nav-link px-1 text-light">
                            <img class="fs-5 pb-1" src="../assets/icons/ticket.png"  width="35" alt="" srcset="">
                            <h6 class="d-none d-sm-inline ms-2">Consultar Tickets</h6>
                        </a>
                    </li>
                    <li class="nav-item  mt-4">
                        <a href="/usuarios" class="nav-link px-2 text-light"><i class="fa-solid fa-users fa-xl"></i>
                            <h6 class="d-none d-sm-inline ms-2">Usuarios</h6>
                        </a>
                    </li>
                 
               
                </ul>
            </div>
            </aside>
            <main class="col overflow-auto h-80 ms-lg-5 me-lg-5"> <!-- Adjusted classes -->
        