
   
<link rel="stylesheet" href="./css/pieLogin.css">
    <footer>
        <div class="container text-center text-light" >
            <p class="alkatra"> <img width ="120px" src="./assets/logoSystem.png" alt="" > by<img width ="150px" src="./assets/a.png" alt=""> </p> 

                <p> &copy; iTickets by AzteTIC'S </p>
         
           
          </div>
    </footer>
